@charset "utf-8";
/* CSS Document */
<!--Wide Card-->
.demo-card-wide.mdl-card {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 150px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

<!-- Image card -->
.demo-card-image.mdl-card {  
  margin-top: 10px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
        
